<h1 class="head">ようこそ Bookers へ！</h1>
<div class="top">
<div class="content"><h4 class="caption">Bookers</h4> では、さまざまな書籍に関するあなたの意見や</div>
<p class="content">印象を共有し交換することができます。</p>
<p class="content"><span class="link_button"><%= link_to 'start', books_path %><span></p>
</div>